Click==7.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-SocketIO==3.0.2
Flask-WTF==0.14.2
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.13
WTForms==2.2.1
Werkzeug==0.14.1
bcrypt==3.1.4
cffi==1.11.5
dnspython==1.15.0
eventlet==0.24.1
greenlet==0.4.15
monotonic==1.5
pip==10.0.1
pycparser==2.19
python-engineio==2.3.2
python-socketio==2.0.0
setuptools==39.1.0
six==1.11.0